.app {
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.app-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 16px;
  background-color: transparent
}
